@charset "utf-8";
/* CSS Document */

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 10px;
	white-space: nowrap;
	margin: 0; /* 自动边距（与宽度一起）会将页面居中 */
	text-align: left; /* 这将覆盖 body 元素上的“text-align: center”。 */
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	color: #F00;
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}